
#homepageWrapper {
    background: url('../content/brasserie.jpg')no-repeat;
    background-size: cover;
    background-position: center;
}

#reservationButton {
    background-color: rgba(0, 0, 0, 0.6);
    color: rgb(214, 163, 87);
    transition: color 100ms linear ;
    max-width: 200px;
    margin: auto;
    padding: 15px 32px;
    border: none;
    box-shadow: none;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}

#reservationButton:hover {
    color: rgb(252, 236, 221);
    cursor: pointer;
}

.text-container {
    margin: auto;
    max-width: 600px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1em;
}

.hp-heading {
    padding: 0 0 0 .2em;
    margin:auto; 
    font-family: 'Outfit', 'Roboto', Helvetica;
    font-weight: 300;
    font-size: 3em;
    color: rgb(214, 163, 87);
}

